---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import { WORK } from "@consts"

---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <TopLayout>
    <div class="flex justify-between animate page-heading mt-6">
      <a
      href="/work"
      type="button" 
      class="flex w-20 justify-center text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
      </svg>
      </a>

      <a 
      href="/datos/print" 
      class="flex w-20 justify-center text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
            <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" />
          </svg>
    </a>
</header>

</div>
</TopLayout>
<BottomLayout>
  <div class="flex justify-center mb-4">
    <p class="font-medium text-balance text-white">Hay un total de <span class="text-[#09f]"> 32 circuitos </span>en la pantalla LED, identificados como<span class="text-[#09f]"> P1-L1 hasta P16-L2.</span><br>
      La pantalla está <span class="text-[#09f]">dividida en dos secciones,</span> cada una controlada por un equipo <span class="text-[#09f]">Novastar MX-40.</span><br> El primer equipo gestiona los 16 circuitos desde <span class="text-[#09f]">P1-L1 hasta P16-L1,</span> mientras que el segundo equipo se encarga de los circuitos de <span class="text-[#09f]">P1-L2 hasta P16-L2.</span><br>
      La conexión entre la pantalla y los equipos Novastar se lleva a cabo mediante <span class="text-[#09f]">dos patch panels</span> en cada extremo, <br>utilizando cables <span class="text-[#09f]">FTP CAT6A</span> con una longitud de 60 metros.<br> Para el patcheo entre los equipos y la pantalla, se utilizan cables <span class="text-[#09f]">UTP RJ45-RJ45 CAT6</span>.<br>
    </p>
  </div>
  <div id="img" class="flex justify-center">
    <img src="datos.webp" alt="estructura">
  </div>
  </BottomLayout>
</PageLayout>
