---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import { WORK } from "@consts"

---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <TopLayout>
  </TopLayout>
  
  <BottomLayout>
    <div class="flex flex-col gap-4 -z-10 opacity-90">

      <div class="animate page-heading -z-10">
        <nav class="flex flex-wrap justify-center bg-white border-gray-200 dark:bg-transparent ">
          <div class="max-w-screen-xl flex flex-wrap items-center justify-center gap-6 mx-auto p-4">
            <a href="https://www.telefonica.com/es/" target="_blank" class="flex items-start space-x-3 rtl:space-x-reverse">
                <img src="logo-tele.jpg" class="h-8" alt="Logo" />
            </a>
            <div class="flex justify-center">
              <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                  <a href="/work" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Auditorio</a>
                </li>
                <li>
                  <a href="/consejo" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sala Consejo</a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </nav>

      <div class="flex gap-4 justify-center">
        <div class="flex flex-col justify-between max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="/estructura">
              <img class="w-64 h-32 mx-auto" src="estructura.svg" alt="estructura" height="200px" />
          </a>
          <div class="p-5">
              <a href="/estructura">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Estructura Panatalla Led Auditorio</h5>
              </a>
          </div>
          <div class="p-5">
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Descripción de la estructura donde está soportada la pantalla LED</p>
          </div>
          <div class="p-5">
              <a href="/estructura" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Documento
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
          </div>
        </div>

        <div class="flex flex-col justify-between max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="/datos" class="p-2">
              <img class="w-64 h-32 mx-auto" src="datos.webp" alt="" />
          </a>
          <div class="p-5">
              <a href="/datos">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cableado estructurado</h5>
              </a>
          </div>
          <div class="p-5">
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Esquema de conexión del cableado estructurado de la pantalla LED</p>
          </div>
          <div class="p-5">
              <a href="/datos" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Documento
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
          </div>
        </div>

        <div class="flex flex-col justify-between max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="/mx40" class="p-2">
              <img class="w-64 h-32 mx-auto" src="mx40.webp" alt="" />
          </a>
          <div class="p-5">
              <a href="/mx40">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Conexionado Controladoras MX-40</h5>
              </a>
          </div>
          <div class="p-5">
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Conexionado de las controladoras Novastar MX-40</p>
          </div>

          <div class="p-5">

              <a href="/mx40" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Documento
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
          </div>
        </div>
      </div>

      <div class="flex mt-4 gap-4 justify-center">

      <div class="flex flex-col justify-between max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="/resolucion" class="p-2">
            <img class="w-64 h-32 mx-auto" src="resolucion.webp" alt="" />
        </a>
        <div class="p-5">
            <a href="resolucion">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Resolución Pantalla Led Auditorio</h5>
            </a>
        </div>
        <div class="p-5">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Resolución del cabinet usado como de la pantalla LED</p>
        </div>
        <div class="p-5">
            <a href="/resolucion" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Documento
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
      </div>

      <div class="flex flex-col justify-between max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="/electrico" class="p-2">
            <img class="w-64 h-32 mx-auto" src="electrico.webp" alt="" />
        </a>
        <div class="p-5">
            <a href="/electrico">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cableado Eléctrico</h5>
            </a>
          </div>
          <div class="p-5">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Esquema de conexión del cableado eléctrico de la pantalla LED</p>
          </div>
          <div class="p-5">
            <a href="/electrico" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Documento
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
      </div>
      <div class="flex flex-col justify-between max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="/cabinet" class="p-2">
            <img class="w-64 h-32 mx-auto" src="cabinet.webp" alt=""/>
        </a>
        <div class="p-5">
            <a href="/cabinet">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cabinet</h5>
            </a>
          </div>
          <div class="p-5">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Detalle del cabinet que forma la pantalla led</p>
          </div>
          <div class="p-5">
            <a href="/cabinet" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Documento
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
      </div>
    </div>
      <div class="top-0 left-0 fixed -z-20 opacity-50 justify-center w-screen">
        <img src="auditorio.webp" alt="">
      </div>
    </div>
  </BottomLayout>
</PageLayout>
